<div class="div-principal">
  <mat-card>
  <h1><b>{{(isEdit?'Atualizar':'Adicionar')}} Veiculo</b></h1>
<form class="formulario" [formGroup]="veiculosForm">

  <mat-form-field appearance="outline" class="form-apto">
    <mat-label>Apto</mat-label>
      <mat-select disableOptionCentering formControlName="idApto" [disabled]="isEdit">
        <mat-option *ngFor="let apartamentos of aptoList" [value]="apartamentos.idApto">
          {{ apartamentos.numeroApto }}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-placa">
    <mat-label> Placa </mat-label>
    <input
    matInput
    type="text"
    formControlName="placa">
  </mat-form-field>


  <mat-form-field appearance="outline" class="form-marca">
    <mat-label> Marca </mat-label>
    <input
    matInput
    type="text"
    formControlName="marca"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-modelo">
    <mat-label> Modelo </mat-label>
    <input
    matInput
    type="text"
    formControlName="modelo"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-cor">
    <mat-label> Cor </mat-label>
    <input
    matInput
    type="text"
    formControlName="cor"/>
  </mat-form-field>

  <div class = "buttons">
    <button mat-raised-button type = "reset" color="warn"
    routerLink="..">Cancelar</button>

    <button
      mat-raised-button
      color="primary"
      (click)="!isEdit ? create() : update()"
      [disabled]="!veiculosForm.valid"
    >
      {{ (isEdit?'Atualizar':'Salvar') }}
    </button>

  </div>
</form>
</mat-card>
</div>

