<div class="div-principal">
  <header>
    <h1 class="titulo"><b>Visualizar Moradores</b></h1>
  </header>
<div>
<div class="botao-e-search">
  <form [formGroup]="fileForm">
    <div fxLayout="row" fxLayoutGap="1%" id="row1" fxAlignItems="center">
      <div class="full-width">
        <mat-form-field fxFlex="100%" appearance="outline">
          <mat-label> File </mat-label>
          <input
            matInput
            formControlName="file"
            (click)="fileInput.click()"
            readonly="true"
          />
          <mat-icon matSuffix (click)="fileInput.click()">attach_file</mat-icon>
        </mat-form-field>
        <input
          type="file"
          accept=".xlsx"
          (change)="loadFile($event)"
          #fileInput
          hidden
          fxFlex="86.25%"
        />
      </div>
      <div class="th-wrap-15">
        <button
          [disabled]="!file"
          (click)="importFile();"
          class="button"
          mat-raised-button
          fxFlex="100%">
          Upload
        </button>
      </div>
    </div>
  </form>
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <input matInput type="text" [formControl]="filterControl" />
    </mat-form-field>
  </div>
  <div>
  <button mat-raised-button color="primary" class="botao-exportar" (click)="exportExcel()">
    <mat-icon class="download">download</mat-icon>Exportar Moradores
  </button>
  <button mat-raised-button color="primary" class="botao-adicionar" [routerLink]="new">
    Adicionar novo Morador
  </button>
  </div>
</div>
  <table mat-table [dataSource]="moradores" class="mat-elevation-z8">
    <!-- Apartamento Column -->
    <ng-container matColumnDef="idApto">
      <th class="coluna-idApto" mat-header-cell *matHeaderCellDef>Apto</th>
      <td mat-cell *matCellDef="let morador">
        {{ morador.idApto.numeroApto }}
      </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th class="coluna-nome" mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let morador">{{ morador.nome }}</td>
    </ng-container>

    <!-- RG Column -->
    <ng-container matColumnDef="rg">
      <th class="coluna-rg" mat-header-cell *matHeaderCellDef>RG</th>
      <td mat-cell *matCellDef="let morador">{{ morador.rg | rg }}</td>
    </ng-container>

    <!-- CPF Column -->
    <ng-container matColumnDef="cpf">
      <th class="coluna-cpf" mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let morador">{{ morador.cpf | cpf}}</td>
    </ng-container>

    <!-- Telefone1 Column -->
    <ng-container matColumnDef="telefone1">
      <th class="coluna-telefone1" mat-header-cell *matHeaderCellDef>
        Telefone Principal
      </th>
      <td mat-cell *matCellDef="let morador">{{ morador.telefone1 | telefone}}</td>
    </ng-container>

    <!-- Telefone2 Column -->
    <ng-container matColumnDef="telefone2">
      <th class="coluna-telefone2" mat-header-cell *matHeaderCellDef>
        Telefone Secundário
      </th>
      <td mat-cell *matCellDef="let morador">{{ morador.telefone2 | telefone}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th class="coluna-email" mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let morador">{{ morador.email }}</td>
    </ng-container>

    <!-- ContatoEmerg Column -->
    <ng-container matColumnDef="contatoEmerg">
      <th class="coluna-contatoEmerg" mat-header-cell *matHeaderCellDef>
        Contato Emergência
      </th>
      <td mat-cell *matCellDef="let morador">{{ morador.contatoEmerg | text}}</td>
    </ng-container>

    <!-- TelefoneEmerg Column -->
    <ng-container matColumnDef="telefoneEmerg">
      <th class="coluna-telefoneEmerg" mat-header-cell *matHeaderCellDef>
        Telefone de Emergência
      </th>
      <td mat-cell *matCellDef="let morador">{{ morador.telefoneEmerg | telefone}}</td>
    </ng-container>

    <!-- Observações Column -->
    <ng-container matColumnDef="obs">
      <th class="coluna-obs" mat-header-cell *matHeaderCellDef>Observações</th>
      <td mat-cell *matCellDef="let morador">{{ morador.obs | text}}</td>
    </ng-container>

    <!-- Ações Column -->
    <ng-container matColumnDef="acoes">
      <th class="coluna-acoes" mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let morador">
        <button mat-icon-button [routerLink]="morador.idMorador">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="openDialog(morador.idMorador)"

        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!--.mat-column-obs (click)="edit(morador)" -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="paginator">
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="pageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
</div>
